body
{
	margin: 10px;
	padding: 10px;
	background-color:yellow;
	background-size:45%;
	font-family: sans-serif;
}
h1
{
	margin: 0;
	padding: 0 0 20px;
	color: blue;
	font-size:60px;
	text-align: center;
}
#nav{
	color:black;
	padding-top:30px;
	padding-left:60px;
	font-size:20px;
	margin:auto;
	background:transparent;
	width:500px;
	border-radius:10px;
	opacity:.8;	
}
#nav input{
	 margin-top:30px;
	 width:200px;
	 height:40px;
	font-size:25px;
	border-radius:5px;

}